* {
    margin: 0px;
    padding: 0px;

    border: none;

    box-sizing: border-box;
    text-align: center;
}

body {
    padding: 25px;
    background-color: rgb(43, 41, 46);
}

.shadow {
    box-shadow:
        0px -2px 5px rgba(0, 0, 0, 0.1),
        0px 10px 15px rgba(0, 0, 0, 0.3);
}

.container-item {
    margin: 20px 20px 20px 20px;
    padding: 10px;

    flex-direction: column;
    justify-content: left;
    align-items: left;

    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(99, 95, 105);
    
    border-radius: 30px;
    border-width: 0px;

    color: white;
    height: auto;
}

.item-image {
    width: 10vh;
    height: auto;
    border-radius: 30px;
}

.item-name {
    font-family: "gg sans Semibold", sans-serif;
    color: white;
}

.item-description {
    font-family: "gg sans Normal", sans-serif;
    color: white;
}

.item-price {
    font-family: "gg sans Semibold", sans-serif;
    color: white;
}

.container-page {
    overflow: auto;
    margin: 0px 20px 20px 20px;
    padding: 20px;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 20px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(73, 70, 78);

    border-radius: 30px;
    border: 10px solid rgb(102, 135, 233);

    color: white;

    height: 65vh;
}

button {
    font-family: "gg sans Semibold", sans-serif;
    font-size: 20px;

    border-radius: 20px 20px 0px 0px;
    background-color: rgb(102, 135, 233);
    color: white;

    padding: 20px 20px;
    margin: 20px 20px 0px 20px;
}
